
 /*-------- СТИЛИ СТРАНИЦЫ С ОТЗЫВАМИ  ------------*/
.reviews-page {
    margin-bottom: 80px;

    // .reviews-page__text

    &__text { 
        color: #242424; 
        font-size: 15px;
        font-weight: 400; 
        line-height: 16px;  
        padding-bottom: 57px;
        margin-bottom: 10px;
        border-bottom: 1px solid #ebebeb;
        @media (max-width: 576px) { 
            border-bottom: 0;
            margin-bottom: 0;
        }
        a {
            font-size: 15px;
            font-weight: 400; 
            line-height: 16px;   
            color: #43b02a;
        }
    }

    // .reviews-page__content

    &__content{
        @media (max-width: 576px) {
            .container {
                max-width: 100%;
                padding: 0;
            }
        }
    }

    // .reviews-page__row

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 343px;
        margin: 0 auto 38px;
        @media (max-width: 576px) {  
            width: 100%;
            border-top: 1px solid #ebebeb;
            padding-top: 10px;
            margin: 0;
            margin-bottom: 38px;
            padding-left: 30px;
            padding-right: 87px;
        }
        @media (max-width: 474px) {
            padding-left: 27px;
        }
        @media (max-width: 440px) {
            padding-right: 67px;
        }
        @media (max-width: 413px){
            padding-left: 24px;
            padding-right: 24px; 
        }
        @media (max-width: 374px){ 
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    // .reviews-page__tab

    &__tab {
        position: relative; 
        color: #2d2a2a; 
        font-size: 16px;
        font-weight: 700; 
        line-height: 16px; 
        cursor: pointer;
        @media (max-width: 376px){ 
            font-size: 14px; 
            line-height: 16px;  
        }
        &:before {
            content: '';
            position: absolute;
            top: -11px;
            left: 0;
            width: 0; 
            height: 2px;
            background-color: #43b02a;
            transition: all .35s ease-out;
        }
    }
    .reviews-tab--active { 
        
        &:before {
            width: 100%;
        }
    }

    // .reviews-page__wrap

    &__wrap {
    }

    // .reviews-page__type

    &__type {
        display: none;
    }

    .reviews-type--show{
        display: block;
    }   
 

    // .reviews-page__item

    &__item {  
        display: flex;
        align-items: flex-start;
        position: relative;
        padding: 41px 155px 40px 123px;
        background-color: #f3f3f3;
        margin-bottom: 20px;
        &:nth-last-child(1){
            margin-bottom: 40px;
        }
        
        @media (max-width: 576px) {  
            width: 100%;
            border-top: 1px solid #ebebeb;
            padding-top: 10px;
            margin: 0;
            margin-bottom: 38px;
            padding-left: 30px;
            padding-right: 44px;

        }
        @media (max-width: 474px) {
            padding-left: 27px;
        }
        @media (max-width: 420px) {   
            padding-right: 25px;
        }
        @media (max-width: 413px){
            padding-left: 24px;

        }
        @media (max-width: 374px){ 
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    // .reviews-page__date

    &__date{
        position: absolute;
        top: 20px;
        right: 20px; 
        color: #43b02a; 
        font-size: 14px;
        font-weight: 500; 
        line-height: 14px; 
        @media (max-width: 576px) {   
            display: none;
        }
    }


    // .reviews-page__icon

    &__icon { 
        display: flex;
        flex-shrink: 0;
        width: 105px;
        height: 105px;
        margin-right: 21px;
        @media (max-width: 420px) {   
            width: 85px;
            height: 85px;
            margin-right: 12px;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 50% ;
        }
    }

    // .reviews-page__inner

    &__inner {
        padding-top: 10px;
    }

    // .reviews-page__info

    &__info { 
        color: #777777;
        font-weight: 400; 
        font-size: 14px; 
        line-height: 14px; 
        margin-bottom: 18px; 
    }

    // .reviews-page__name

    &__name { 
        color: #2d2a2a; 
        font-weight: 500; 
        font-size: 14px; 
        line-height: 14px;  
    }

    // .reviews-page__city

    &__city { 
    }

    // .reviews-page__comment

    &__comment { 
        color: #777777;
        font-family: Lato;
        font-size: 14px;
        font-weight: 400; 
        line-height: 22.4px;
    } 

} 
.reviews-text {
}
.reviews-video {
}
